.stat-header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1440px;
  height: 72px;
  text-align: start;
  background: #3a80ba;

  .stat-header_logo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 130px;
  }
}

.stat-main {
  text-align: start;
  h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #1a1a1a;
  }
  .table-header {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 2px;
    width: 1180px;
    align-items: center;
    justify-items: center;
    background: #ffffff;

    .table-header_item {
      margin: 0 auto;
      padding-top: 16px;
      text-align: center;
      height: 48px;
      background: #3a80ba;
      width: 100%;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
    }
    .table-content_item {
      background: #f1f1f1 !important;
      color: #1a1a1a;
      text-decoration: none;
    }
  }
}

.stat-footer {
  width: 1440px;
  height: 57px;
  margin: 0 auto;
  background: #1c3b55;

  .footer-text {
    display: flex;
    margin: 0 auto;
    width: 100%;
    // margin-top: 32px;
    justify-content: space-around;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    align-items: baseline;
    color: #ffffff;

    p {
      margin: 0;
    }

    .footer-logo {
      margin: 0;
      font-size: 32px;
      line-height: 39px;
    }
  }
}

.charts {
  margin-bottom: 35px;
}
.date-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  .admin-calendar {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: center;
  }
}
